<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Document</title>
</head>

<body>
  <%- include('partials/nav')%>

  <div class="container">
    <div class="header">
      <h1><%= assignment.title %></h1>
    </div>
    <div class="details">
      <p>Detail: <%= assignment.details %></p>
    </div>

    <div class="reference">
      <p>Reference: <a href="https://<%= assignment.fileURL %>"><%= fileName %></a></p>
    </div>

    <div class="due-date">
      <p>Due Date: <%=  formatDate(assignment.dueDate) %></p>
    </div>

    <div class="mark">
      <p>Marks: <%= assignment.marks %></p>
    </div>

    <% if(!isSubmitted && (formatDate(assignment.dueDate) > formatDate(new Date()))){ %>
    <form action="/project/submit/<%= assignment._id %>" method="POST" enctype="multipart/form-data">
      <div class="upload">
        <p>Upload: <input type="file" name="file" required> </p>
      </div>
      <br>

      <input class="button" type="submit" name="submit" value="Submit">
    </form>
    <% } else if(!isSubmitted && formatDate(assignment.dueDate) <= formatDate(new Date())) { %>
    <div class="upload">
      <p>Marks Obtained: <b>0 Marks</b> <span style="color: red;">(due date passed!)</span></p>
    </div>
    <% } else { %>
    <div class="upload">
      <% if(completedAssignment) { %>
      <p>Marks Obtained: <%= completedAssignment.givenMarks > 0 ? completedAssignment.givenMarks : `pending` %></p>
      <% } else { %>
      <p>Marks Obtained: pending %></p>
      <% } %>
    </div>
    <% } %>

  </div>
</body>

</html>