<%- include('partials/header')%>
<%- include('partials/nav')%>

<div class="container mt-4 d-flex justify-content-center ">


  <div class="card col col-lg-6">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h1><%= assignment.title %></h1>
      </li>
      <li class="list-group-item">
        <strong>Details:</strong> <%= assignment.details %>
      </li>
      <li class="list-group-item"><strong>Reference:</strong> <a href="https://<%= assignment.fileURL %>"><%= fileName %></a></li>
      <li class="list-group-item"><strong>Due Date:</strong> <%=  formatDate(assignment.dueDate) %></li>
      <li class="list-group-item"><strong>Marks:</strong> <%= assignment.marks %></li>
      <% if(completedAssignment) { %>
      <li class="list-group-item"><strong>Submitted: </strong><a href="https://<%= completedAssignment.completedFile %>" target="_blank">Your File</a></li>
      <% } %>
      <li class="list-group-item">
        <% if(!isSubmitted && (formatDate(assignment.dueDate) > formatDate(new Date()))){ %>
        <form action="/project/submit/<%= assignment._id %>" method="POST" enctype="multipart/form-data">
          <div class="input-group mb-3 pl-0">
            <label class="input-group-text bg-light border-0" style="padding-left: 0px;" for="upload"><strong>Upload File:</strong></label>
            <input type="file" class="form-control" name="file" id="upload" required>
          </div>
          <hr style="margin-top: 0px; margin-bottom: 8px;">
          <div>
            <input class="btn btn-dark " type="submit" name="submit" value="Submit">
          </div>
        </form>
        <% } else if(!isSubmitted && formatDate(assignment.dueDate) <= formatDate(new Date())) { %>
        <div class="upload">
          <p><strong>Marks Obtained:</strong> <button type="button" class="btn btn-danger" disabled>0 Marks (due date passed!)</button> </p>
        </div>
        <% } else { %>
        <div class="marks">
          <% if(completedAssignment) { %>
          <p><strong>Marks Obtained:</strong> <button type="button" class="btn btn-secondary " disabled> <%= completedAssignment.givenMarks > 0 ? completedAssignment.givenMarks : `pending` %> </button> </p>
          <% } else { %>
          <p><strong>Marks Obtained:</strong> pending %></p>
          <% } %>
        </div>
        <% } %>
      </li>
    </ul>
  </div>

</div>
<%- include('partials/footer')%>