  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/new.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>

  <body>

    <%- include('partials/nav')%>

    <div class="header">
      <h1>Submitted Assignments</h1>
    </div>
    <hr>
    <div class="container">
      <div class="table">
        <table>
          <div class="table-header">
            <thead>
              <tr>
                <div class="header__item">
                  <th>Sr.No</th>
                </div>
                <div class="header__item">
                  <th>Title</th>
                </div>
                <div class="header__item">
                  <th>Due Date</th>
                </div>
                <div class="header__item">
                  <th>Student Name</th>
                </div>
                <div class="header__item">
                  <th>Submitted File</th>
                </div>
                <div class="header__item">
                  <th>Give Marks</th>
                </div>
            </thead>
          </div>

          <div class="table-content">
            <tbody>
              <div class="table-row">

                <% assignments.forEach((assignment, i)=>{ %>
                <tr>
                  <div class="table-data">
                    <td><%= i + 1 %></td>
                  </div>
                  <div class="table-data">
                    <td><%= assignment.parentAssignment.title %></td>
                  </div>
                  <div class="table-data">
                    <td><%= formatDate(assignment.parentAssignment.dueDate) %></td>
                  </div>
                  <div class="table-data">
                    <td><%= assignment.completedBy.firstName + ' ' + assignment.completedBy.lastName %></td>
                  </div>
                  <div class="table-data">
                    <td><a href="https://<%= assignment.completedFile %>"> Completed File </a></td>
                  </div>
                  <div class="table-data">
                    <td>
                      <% if(assignment.givenMarks > 0){ %>
                      <%= assignment.givenMarks %>
                      <% }else{ %>
                      <form action="/admin/<%= assignment._id %>/givemarks" style="display: inline;" method="POST" /> <input type="number" min="1" max="<%= assignment.parentAssignment.marks %>" name="marks" required /> <input type="submit" value="submit"> </form>
                      <% } %> / <%= assignment.parentAssignment.marks %>
                    </td>
                  </div>
                </tr>
                <% }); %>
              </div>

            </tbody>
          </div>

        </table>
      </div>
    </div>
  </body>

  </html>