<%- include('partials/header')%>
<%- include('partials/nav')%>

<div class="container d-flex flex-column">
  <div class="text-center mt-4">
    <% if(assignments.length > 0) {%>
    <h2>Submissions for <%= assignments[0].parentAssignment.title %></h2>
    <h3>Due date: <%= formatDate(assignments[0].parentAssignment.dueDate) %></h3>
    <% } else {%>
    <h2>No Submissions Yet</h2>
    <% } %>
  </div>
  <hr>

  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Submitted By</th>
        <th scope="col">Submitted File</th>
        <th scope="col">Give Marks / out of</th>
      </tr>
    </thead>
    <% if(assignments.length > 0) {%>
    <tbody>
      <% assignments.forEach((assignment, i)=>{ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= assignment.completedBy.firstName + ' ' + assignment.completedBy.lastName %></td>
        <td><a href="https://<%= assignment.completedFile %>" target="_blank"> Completed File </a></td>
        <td>
          <% if(assignment.givenMarks > 0){ %>
          <%= assignment.givenMarks %>
          <% }else{ %>
          <form action="/admin/<%= assignment._id %>/givemarks" style="display: inline;" method="POST" /> <input type="number" min="1" max="<%= assignment.parentAssignment.marks %>" name="marks" required /> <input type="submit" value="submit"> </form>
          <% } %> / <%= assignment.parentAssignment.marks %>
        </td>
      </tr>
      <% }); %>
    </tbody>
    <% } %>
  </table>
</div>
</div>
</body>


<%- include('partials/footer')%>