<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Document</title>
</head>

<body>
  <%- include('partials/nav')%>

  <div class="container">
    <div class="header">
      <h1><%= assignment.title %></h1>
    </div>
    <div class="details">
      <p>Detail: <%= assignment.details %></p>
    </div>

    <div class="reference">
      <p>Reference: <a href="https://<%= assignment.fileURL %>" target="_blank"><%= fileName %></a></p>
    </div>

    <div class="due-date">
      <p>Due Date: <%= formatDate(assignment.dueDate)  %></p>
    </div>

    <div class="mark">
      <p>Marks: <%= assignment.marks %></p>
    </div>

  </div>
</body>

</html>